body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  font-weight: bold;
  color: #050000;
  padding: 3px 10px;
  border-bottom: 1px solid #000000;
}

.hero_area {
  height: 15vh;
  background-image: url(Images/hero-bg.jpg);
  background-size: cover;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}
.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: -15px;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none;
}
.navbar-brand img {
  width: 20px;
  margin-left: 100px;
}
.navbar-nav {
  display: flex;
  margin-left: 700px;
  margin-top: -10px;
}

.navbar-brand {
display: -webkit-box;
display: -ms-flexbox;
display: block;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.navbar-brand img {
width: 20px;
margin-top: 20px;
margin-right: 5px;
}

.navbar-brand span {
font-size: 24px;
font-weight: 700;
color: #ffffff;
text-transform: uppercase;
}

.custom_nav-container {
z-index: 99999;
padding: 15px 0;
}
.custom_nav-container .navbar-toggler {
  outline: none;
}
.slider_section {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.slider_section {
  height: 80px;
  align-items: center;
  padding-left: 30px;
}
.slider_section .detail-box {
  color: #ffffff;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
}

.slider_section .detail-box h1 span {
  color: #e93f1a;
}

.slider_section .detail-box p {
  margin-top: 15px;
  margin-bottom: -150px;
}

.slider_section .detail-box .btn-box {
  margin-bottom: -990px;
}

.slider_section .detail-box .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e93f1a;
  color: #ffffff;
  margin-top: 190px;
  transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: transparent;
  border-color: #e93f1a;
  color:#fff;
}

.slider_section .carousel-indicators span {
  margin: 0 2px;
}    


.body_bg {
  background-image: url(Images/body_bg.jpg);
  background-size: cover;
}

.service_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  margin-left: 600px;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
  width: 85%;
}

.service_section .box h4 {
  margin-left: 70px;
  font-size: 30px;
  display: flex;
  justify-items: center;
  margin-top: 5px;
}

.service_section .box a {
  padding: 6px 25px;
  border: 1px solid #e93f1a;
  color: #e93f1a;
  text-transform: uppercase;
}
.container{
  display: flex;
}
.info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .footer_contact {
  width: 350px;
}

.info_section .footer_contact .heading_container h2 {
  width: 100%;
  text-align: center;
}

.info_section .footer_contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 20px 0 20px;
}

.info_section .footer_contact .box .img-box .img-2 {
  display: none;
}

.info_section .footer_contact .box .img-box:hover .img-1 {
  display: none;
}

.info_section .footer_contact .box .img-box:hover .img-2 {
  display: inline;
}

.footer_section {
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #1d1d1d;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #ffffff;
}
